[user]
	name = Graham Anderson
	email = graham.anderson@heraldandtimes.co.uk
[color]
	ui = auto
[push]
	default = simple

[credential "https://go.herald.scot"]
	username = graham
[credential "https://github.com"]
	username = gnanderson
