[user]
	name = Graham Anderson
	email = graham.anderson@gmail.com
	signingkey = C627E6FB
[alias]
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	lnc = log --pretty=format:"%h\\ %s\\ [%cn]"
	fl = log -u
	dl = "!git ll -1"
	dlc = diff --cached HEAD^
[color]
	ui = auto
[push]
	default = simple
[credential]
	helper = cache --timeout=3600
[credential "https://go.herald.scot"]
	username = graham
[credential "https://github.com"]
	username = gnanderson
[core]
	editor = /usr/local/bin/vim
[merge]
	ff = only
