[user]
	name = Graham Anderson
	email = graham.anderson@heraldandtimes.co.uk
[color]
	ui = auto
[push]
	default = simple
[credential]
	helper = cache --timeout=3600
[credential "https://go.herald.scot"]
	username = graham
[credential "https://github.com"]
	username = gnanderson
